* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
:root {
    // Like 1
    --blue-hill: #4e5255; color
    --cream-blush: #e0e3f0; bg
    --pagoda-blue: #2d1832; border
    --meatloaf: #5062aa; pbg
}
*/

body {
    background-color: #5062aa;
}

.container {
    width: 800px;
    height: 200px;
    background-color: #e0e3f0;
    color: #4e5255;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: center;
    margin: 20px auto;
    border-radius: 10px;
    text-align: center;
}

h1 {
    width: 100%;
    padding: 10px 0;
}

.fah {
    width: 300px;
    height: 100px;
    border: 2px solid #2d1832;
    border-radius: 10px;
}

.cel {
    width: 300px;
    height: 100px;
    border: 2px solid #2d1832;
    border-radius: 10px;
}

.fah p, .cel p {
    width: 100%;
}

#fahbox, #celbox {
    width: 260px;
    height: 60px;
    text-align: center;
    font-size: 1.5rem;
    border: 1px dotted #2d1832;
    border-radius: 10px;
    /* margin: 0 0; */
}



.transbtn {
    width: 50px;
    height: 30px;
    border: 2px solid #2d1832;
    border-radius: 10px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    cursor: pointer;
    box-shadow: 2px 2px 1px black;
    color: #4e5255;
}

.btn1 {
    margin: 20px;
}

.btn2 {
    margin: 20px;
}

.btn1:hover {
    color: #4e5255;
}

.btn2:hover {
    color: #4e5255;
}

.btn1:active {
    box-shadow: 0px 0px 0px grey;
    transition-duration: 100ms;
    color: black;
    padding-top: 2px;
}

.btn2:active {
    box-shadow: 0px 0px 0px grey;
    transition-duration: 100ms;
    color: black;
    padding-top: 2px;
}



